/* The MathX Chrome Extension 					*/
/* load.js - styling for initial loading	 	*/
/* Authored by Timon Safaie 					*/
/* All rights reserved under Demonstranda, Inc. */

/* Generate Space for loading  icon */
.mathx-loading {
	/* display:    		none; */
	display:         	block;
    position:   		fixed;
    z-index:    		9999;
    top:        		0;
    left:       		0;
    height:     		100%;
    width:      		100%;
}
/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
/*
body.loading {
     overflow: hidden;   
}*/
/* Anytime the body has the loading class, our
   modal element will be visible */
   /*
body.loading .mathx-loading {
   display: block;
}
*/
